= form_with(model: bell, local: true) do |form|
  - if bell.errors.any?
    #error_explanation
      %h2
        = pluralize(bell.errors.count, "error")
        prohibited this bell from being saved:
      %ul
        - bell.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label 'Organisation Name'
    = form.text_field :name, id: :bell_name
  .field
    = form.label 'Trigger URL'
    = form.text_field :trigger, id: :bell_trigger
  .field
    = form.label :logo
    = uploadcare_uploader_field :bell, :logo
  .actions
    = form.submit class: 'btn btn-primary'
  %br
%p
  The trigger is a url that gets opened whenever someone rings the bell. This can be services like:
  %ul
    %li https://ifttt.com/maker_webhooks
    %li https://telegramiotbot.com
