= form_with(model: bell, local: true) do |form|
  - if bell.errors.any?
    #error_explanation
      %h2
        = pluralize(bell.errors.count, "error")
        prohibited this bell from being saved:
      %ul
        - bell.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label 'Organisation Name'
    = form.text_field :name, id: :bell_name
  .field
    = form.label 'Trigger URL'
    = form.text_field :trigger, id: :bell_trigger


  .field
    = radio_button_tag('GETbtn', "GET", false , class: 'btn btn-primary')
    = form.label 'GET'
    = radio_button_tag('POSTbtn',"POST", false ,class: 'btn btn-primary')
    = form.label 'POST'
    -# add ID for the field
    -# switch here which type of req to use

  -# radio button with options get and post request
  -# a field with json payload
  .field
    = form.label 'JSON Payload'
    
    = form.text_field :payload, id: :bell_payload

  .field
    = form.label :logo
    = uploadcare_uploader_field :bell, :logo
  .actions
    = form.submit class: 'btn btn-primary'
  %br
%p
  The trigger is a url that gets opened whenever someone rings the bell. This can be services like:
  %ul
    %li
      %a(target="_blank" href="https://www.mercuriusbot.io") www.mercuriusbot.io
    %li
      %a(target="_blank" href="https://www.ifttt.com/maker_webhooks") www.ifttt.com/maker_webhooks
    %li
      %a(target="_blank" href="https://www.telegramiotbot.com") www.telegramiotbot.com
