= form_with(model: bell, local: true) do |form|
  - if bell.errors.any?
    #error_explanation
      %h2
        = pluralize(bell.errors.count, "error")
        prohibited this bell from being saved:
      %ul
        - bell.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :bell_name
  .field
    = form.label :trigger
    = form.text_field :trigger, id: :bell_trigger
  .field
    = form.label :logo
    = form.text_field :logo, id: :bell_logo
  .actions
    = form.submit
