%p#notice= notice
%h1 Bells

= link_to 'Add new bell', new_bell_path, class: 'btn btn-success'
%br
%br
%table
  %thead
    %tr
      %th Name
      %th Trigger
      %th Logo
      %th{:colspan => "3"}
  %tbody
    - @bells.each do |bell|
      %tr
        %td= bell.name
        %td= bell.trigger
        %td
          -if bell.logo?
            = image_tag(bell.logo+'-/resize/x60/')
        %td= link_to 'Show', bell, class: 'btn btn-light'
        %td= link_to 'Edit', edit_bell_path(bell), class: 'btn btn-primary'
        %td= link_to 'Delete', bell, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
