<p id="notice"><%= notice %></p>

<h1>Bells</h1>

<table class="bells">
  <tbody>
    <% @bells.each do |bell| %>
      <tr>
        <td class="logo"><%= image_tag(bell.logo) %></td>
        <td><%= bell.name %></td>
        <td class="ring_button"><%= link_to 'Klingeln', bell %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bell', new_bell_path %>
