
%h1 Bells

%br
%br
%table
  %thead
    %tr
      %th Name
      %th Logo
      %th
  %tbody
    - @bells.each do |bell|
      %tr
        %td= bell.name
        %td{style: 'background-color: '+bell.background.to_s}
          -if bell.logo?
            = image_tag(bell.logo+'-/resize/x60/')
        %td
          -if current_user == bell.user || current_user.admin?
            = link_to 'Show', bell, class: 'btn btn-light'
            = link_to 'Edit', edit_bell_path(bell), class: 'btn btn-primary'
            = link_to 'Delete', bell, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
          -if bell.enabled
            .badge.badge-success Enabled