!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "Touchbell", name: "apple-mobile-web-app-title"}/
    %meta{content: "yes", name: "mobile-web-app-capable"}/
    %title Touchbell
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = uploadcare_settings
  %body
    .container
      = render '/layouts/header'
      .container.content
        %p.notice= notice
        %p.alert= alert
        = yield
      = render '/layouts/footer'
